*.iml
*.apk
*.ap_
*.dex
*.class
*.jks
out/
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
bin/
*.log
gen/
.DS_Store
/build
/captures
.externalNativeBuild
.idea
build/
.navigation/
captures/
